<div class="images-alignment">
  <h2 style="color:white">Animes</h2>
  <a href="/review/A1"><img src="/static/images/animes/steinsgate.png" /></a>
  <a href="/review/A2"><img src="/static/images/animes/dbz.png" /></a>
  <a href="/review/A3"><img src="/static/images/animes/oregairu.png" /></a>
  <a href="/review/A4"><img src="/static/images/animes/monster.png" /></a>
  <a href="/review/A5"><img src="/static/images/animes/HxH.png" /></a>
  <br />
  <br />
  <a href="/review/A6"><img src="/static/images/animes/codegeass.png" /></a>
  <a href="/review/A7"><img src="/static/images/animes/aot.png" /></a>
  <a href="/review/A8"><img src="/static/images/animes/naruto.png" /></a>
  <a href="/review/A9"><img src="/static/images/animes/deathnote.png" /></a>
</div>