<div class="images-alignment">
  <h2 style="color:white">Games</h2>
  <a href="/review/G1"><img src="/static/images/games/pes.png" /></a>
  <a href="/review/G2"><img src="/static/images/games/fallguys.png" /></a>
  <a href="/review/G3"><img src="/static/images/games/gtav.png" /></a>
  <a href="/review/G4"><img src="/static/images/games/wd2.png" /></a>
  <a href="/review/G5"><img src="/static/images/games/2k22.png" /></a>
  <br />
  <br />
  <a href="/review/G6"><img src="/static/images/games/godofwar.png" /></a>
  <a href="/review/G7"><img src="/static/images/games/mw3.png" /></a>
  <a href="/review/G8"><img src="/static/images/games/tombraider.png" /></a>
  <a href="/review/G9"><img src="/static/images/games/unity.png" /></a>
</div>