<div class="images-alignment">
  <h2 style="color:white">Web series</h2>
  <a href="/review/S1"><img
      src="/static/images/webseries/breakingbad.png"
    /></a>
  <a href="/review/S2"><img src="/static/images/webseries/dark.png" /></a>
  <a href="/review/S3"><img
      src="/static/images/webseries/peakyblinders.png"
    /></a>
  <a href="/review/S4"><img src="/static/images/webseries/moneyheist.png" /></a>
  <a href="/review/S5"><img src="/static/images/webseries/got.png" /></a>
  <br />
  <br />
  <a href="/review/S6"><img src="/static/images/webseries/mrrobot.png" /></a>
  <a href="/review/S7"><img src="/static/images/webseries/witcher.png" /></a>
  <a href="/review/S8"><img
      src="/static/images/webseries/umbrellaacademy.png"
    /></a>
  <a href="/review/S9"><img src="/static/images/webseries/lucifer.png" /></a>
</div>