<div class="images-alignment">
  <h2 style="color:white">Sitcoms</h2>
  <a href="/review/C1"><img src="/static/images/sitcoms/friends.png" /></a>
  <a href="/review/C2"><img
      src="/static/images/sitcoms/howimetyourmother.png"
    /></a>
  <a href="/review/C3"><img src="/static/images/sitcoms/bigbang.png" /></a>
  <a href="/review/C4"><img src="/static/images/sitcoms/brooklyn.png" /></a>
  <a href="/review/C5"><img src="/static/images/sitcoms/office.png" /></a>
  <br />
  <br />
  <a href="/review/C6"><img src="/static/images/sitcoms/tedlasso.png" /></a>
  <a href="/review/C7"><img
      src="/static/images/sitcoms/siliconvalley.png"
    /></a>
  <a href="/review/C8"><img src="/static/images/sitcoms/modernfamily.png" /></a>
  <a href="/review/C9"><img src="/static/images/sitcoms/familyguy.png" /></a>
</div>