<div class="images-alignment">
  <h2 style="color:white">Animes</h2>
  <img src="/static/images/animes/steinsgate.jpg" height="165px" alt="..." />
  <img src="/static/images/animes/dbz.jpg" height="165px" alt="..." />
  <img src="/static/images/animes/oregairu.jpg" height="165px" alt="..." />
  <img src="/static/images/animes/monster.jpg" height="165px" alt="..." />
  <img src="/static/images/animes/HxH.png" height="165px" alt="..." />
  <br />
  <br />
  <img
    src="/static/images/animes/codegeass.jpg"
    height="167px"
    width="312px"
    alt="..."
  />
  <img
    src="/static/images/animes/aot.jpg"
    height="165px"
    width="308px"
    alt="..."
  />
  <img
    src="/static/images/animes/naruto.jpg"
    height="165px"
    width="292px"
    alt="..."
  />
  <img src="/static/images/animes/deathnote.jpg" height="165px" alt="..." />
  <a href="/animes" class="btn btn-primary">View all -></a>
</div>