<div class="images-alignment">
  <h2 style="color:white">Games</h2>
  <img src="/static/images/games/pes.jpg" height="164px" alt="..." />
  <img src="/static/images/games/fallguys.jpg" height="164px" alt="..." />
  <img src="/static/images/games/gtav.jpg" height="164px" alt="..." />
  <img src="/static/images/games/wd2.jpg" height="164px" alt="..." />
  <img
    src="/static/images/games/2k22.jpg"
    height="164px"
    width="290px"
    alt="..."
  />
  <br />
  <br />
  <img src="/static/images/games/godofwar.jpg" height="164px" alt="..." />
  <img src="/static/images/games/mw3.jpg" height="164px" alt="..." />
  <img src="/static/images/games/tombraider.jpg" height="164px" alt="..." />
  <img src="/static/images/games/unity.jpg" height="164px" alt="..." />
  <a href="/games" class="btn btn-primary">View all -></a>
</div>