<div class="images-alignment">
  <h2 style="color:white">Movies</h2>
  <a href="/review/M1">
    <img src="/static/images/movies/interstellar.png" />
  </a>
  <a href="/review/M2"><img src="/static/images/movies/endgame.png" /></a>
  <a href="/review/M3"><img src="/static/images/movies/drishyam2.png" /></a>
  <a href="/review/M4"><img src="/static/images/movies/inception.png" /></a>
  <a href="/review/M5"><img src="/static/images/movies/brahmastra.png" /></a>
  <br />
  <br />
  <a href="/review/M6"><img src="/static/images/movies/darkknight.png" /></a>
  <a href="/review/M7"><img src="/static/images/movies/lightsout.png" /></a>
  <a href="/review/M8"><img src="/static/images/movies/shawshank.png" /></a>
  <a href="/review/M9"><img src="/static/images/movies/shutterisland.png" /></a>
  <a href="/movies" class="btn btn-primary">View all -></a>
</div>