<div class="images-alignment">
  <h2 style="color:white">Movies</h2>
  <a href="/review">
    <img
      src="/static/images/movies/interstellar.jpg"
      height="164px"
      alt="..."
    />
  </a>
  <img src="/static/images/movies/endgame.jpg" height="164px" alt="..." />
  <img src="/static/images/movies/drishyam2.jpg" height="164px" alt="..." />
  <img src="/static/images/movies/inception.jpg" height="164px" alt="..." />
  <img src="/static/images/movies/brahmastra.jpg" height="164px" alt="..." />
  <br />
  <br />
  <img src="/static/images/movies/darkknight.jpg" height="164px" alt="..." />
  <img src="/static/images/movies/lightsout.jpg" height="164px" alt="..." />
  <img src="/static/images/movies/shawshank.jpg" height="164px" alt="..." />
  <img src="/static/images/movies/shutterisland.jpg" height="164px" alt="..." />
  <a href="/movies" class="btn btn-primary">View all -></a>
</div>