<div class="images-alignment">
  <h2 style="color:white">Movies</h2>
  <a href="/review/M1">
    <img
      src="/static/images/movies/interstellar.jpg"
      height="164px"
      alt="..."
    />
  </a>
  <a href="/review/M2"><img
      src="/static/images/movies/endgame.jpg"
      height="164px"
      alt="..."
    /></a>
  <a href="/review/M3"><img
      src="/static/images/movies/drishyam2.jpg"
      height="164px"
      alt="..."
    /></a>
  <a href="/review/M4"><img
      src="/static/images/movies/inception.jpg"
      height="164px"
      alt="..."
    /></a>
  <a href="/review/M5"><img
      src="/static/images/movies/brahmastra.jpg"
      height="164px"
      alt="..."
    /></a>
  <br />
  <br />
  <a href="/review/M6"><img
      src="/static/images/movies/darkknight.jpg"
      height="164px"
      alt="..."
    /></a>
  <a href="/review/M7"><img
      src="/static/images/movies/lightsout.jpg"
      height="164px"
      alt="..."
    /></a>
  <a href="/review/M8"><img
      src="/static/images/movies/shawshank.jpg"
      height="164px"
      alt="..."
    /></a>
  <a href="/review/M9"><img
      src="/static/images/movies/shutterisland.jpg"
      height="164px"
      alt="..."
    /></a>
  <a href="/movies" class="btn btn-primary">View all -></a>
</div>