<div class="images-alignment">
  <h2 style="color:white">Web series</h2>
  <img
    src="/static/images/webseries/breakingbad.jpg"
    height="182px"
    alt="..."
  />
  <img
    src="/static/images/webseries/dark.png"
    height="182px"
    width="295px"
    alt="..."
  />
  <img
    src="/static/images/webseries/peakyblinders.jpg"
    height="182px"
    width="285px"
    alt="..."
  />
  <img
    src="/static/images/webseries/moneyheist.jpg"
    height="182px"
    width="295px"
    alt="..."
  />
  <img
    src="/static/images/webseries/got.jpg"
    height="182px"
    width="295px"
    alt="..."
  />
  <br />
  <br />
  <img
    src="/static/images/webseries/mrrobot.jpg"
    height="182px"
    width="292px"
    alt="..."
  />
  <img
    src="/static/images/webseries/witcher.jpg"
    height="182px"
    width="295px"
    alt="..."
  />
  <img
    src="/static/images/webseries/umbrellaacademy.jpg"
    height="182px"
    width="285px"
    alt="..."
  />
  <img
    src="/static/images/webseries/lucifer.jpg"
    height="182px"
    width="295px"
    alt="..."
  />
  <a href="/webseries" class="btn btn-primary">View all -></a>
</div>