<div class="images-alignment">
  <h2 style="color:white">Sitcoms</h2>
  <img src="/static/images/sitcoms/friends.jpg" height="166px" alt="..." />
  <img
    src="/static/images/sitcoms/howimetyourmother.jpg"
    height="166px"
    alt="..."
  />
  <img src="/static/images/sitcoms/bigbang.jpg" height="166px" alt="..." />
  <img src="/static/images/sitcoms/brooklyn.jpg" height="166px" alt="..." />
  <img src="/static/images/sitcoms/office.jpg" height="166px" alt="..." />
  <br />
  <br />
  <img src="/static/images/sitcoms/tedlasso.jpg" height="166px" alt="..." />
  <img
    src="/static/images/sitcoms/siliconvalley.jpg"
    height="166px"
    alt="..."
  />
  <img src="/static/images/sitcoms/modernfamily.jpg" height="166px" alt="..." />
  <img
    src="/static/images/sitcoms/familyguy.jpg"
    height="166px"
    width="295px"
    alt="..."
  />
  <a href="/sitcoms" class="btn btn-primary">View all -></a>
</div>