<body style="background-color:#2f383f">
  <div class="review">
    <div>
      <img src="/static/images/movies/interstellar.jpg" style="float:right" />
    </div>
    <h1
      class="display-4"
      align="center"
      style="color: white; font-size:40px"
    >INTERSTELLAR</h1>
    <h1 style="color:white">PLOT</h1>
    <p style="color: white; font-size:20px">Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Facilis harum deserunt veritatis aliquid.
      Harum quod fugit molestiae ipsa eaque earum assumenda aperiam ipsam facere
      iste autem suscipit laborum, quo voluptatum consequuntur laudantium. Rerum
      nihil quos amet exercitationem? Neque et vitae doloremque? Qui illum
      repudiandae repellendus, distinctio quis eveniet atque voluptatem voluptas
      dicta, blanditiis sit laborum dolorum magnam. Unde quis eligendi
      necessitatibus est natus nemo veritatis, in adipisci totam quibusdam!
      Neque quo nisi iure delectus perspiciatis incidunt temporibus sequi
      adipisci dicta magnam eos, totam facere qui molestiae asperiores inventore
      provident! Ipsa harum porro ullam tenetur facere esse quisquam eaque
      corporis cumque!</p>
    <hr style="height:2px;border-width:0;color:gray;background-color:black" />
    <h1 style="color:white">CAST</h1>
    <h3 style="color:white">Main Stars</h3>
    <span style="color: white;">Matthew McConaughey &nbsp; &nbsp;&nbsp; Anne
      Hathaway &nbsp; &nbsp;&nbsp; Jessica Chastain</span>
    <h3 style="color:white">Director</h3>
    <span style="color: white;">Christopher Nolan</span>
    <h3 style="color:white">Writers</h3>
    <span style="color: white;">Christopher Nolan &nbsp; &nbsp; &nbsp; Jonathan
      Nolan</span>
    <hr style="height:2px;border-width:0;color:gray;background-color:black" />
    <h1 style="color:white">GENRE</h1>
    <span style="color: white;">Adventure &nbsp; &nbsp;&nbsp; Drama &nbsp;
      &nbsp;&nbsp; SciFi</span>
    <hr style="height:2px;border-width:0;color:gray;background-color:black" />
    <h1 style="color:white">REVIEWS</h1>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Post a Review"
        aria-label="Post a Review"
        aria-describedby="basic-addon2"
      />
    </div>
  </div>
</body>